@model Vancl.TMS.Util.Pager.PagedList<Vancl.TMS.Model.Claim.Lost.ViewLostModel>
@{
    ViewBag.Title = "丢失信息审核列表";
    Layout = "~/Views/Shared/_Layout_SearchList.cshtml";
}
@section head{
    <script type="text/javascript">
        //丢失信息录入
        function ApproveLostInfo() {
            var arr = TMS.Page.CheckDataTableChecked();
            if (arr) {
                var deliveryNo = arr.eq(0).val();
                var isAllLost = arr.attr("IsAllLost");
                var lostAmount = arr.attr("LostAmount");
                ymPrompt.win('@Url.Action("Approve")' + "?DeliveryNo=" + deliveryNo +
                 "&IsAllLost=" + isAllLost + "&LostAmount=" + lostAmount, 450, 280, '丢失信息审核',
                    handle, null, null, { id: 1 });
            }
        }
        function handle(tp,data) {
            if (tp == "Success") {
                setTimeout(function () {
                    if (data.IsSuccess) {
                        ymPrompt.succeedInfo({ title: '提示', message: data.Message });
                        //刷新列表
                        $("#btnRefresh").click();
                    }
                    else {
                        ymPrompt.errorInfo({ title: '提示', message: data.Message });
                    }
                }, 100);
            }
        }
        function ShowDetail(deliveryNO) {
            window.parent.SetPage("id_LostBoxListView", '查看丢失详情', '@Url.Action("LostBoxList")' + "?DeliveryNO=" + deliveryNO + "&Operate=ShowDetail", true);
        }
        //添加搜索数据
        function beforeSend(xhr, settings) {
            var data = $("form").data(TMS.Page.Data_ajax_SearchData);
            if (data) {
                settings.data += "&" + data;
            }
        }
        $(function () {
        }); 
    </script>
}
@section search
{
    <div class="search_condition">
        @using (Ajax.BeginForm((AjaxOptions)ViewBag.AjaxOptions))
        {
            <table class="tb_insert Fixed">
                <tr>
                    <th>
            <label for="S_CreateDateBegin">
                发货时间
            </label>
                    </th>
                    <td>
                        @Html.TextBox("S_CreateDateBegin", string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.Now.ToString("yyyy-MM-dd 00:00:00")), new { @class = "Wdate1", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" })
                    </td>
                    <th>
            <label for="S_CreateDateEnd">
                到</label>
                    </th>
                    <td>
                        @Html.TextBox("S_CreateDateEnd", string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.Now.ToString("yyyy-MM-dd 23:59:59")), new { @class = "Wdate1", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" })
                    </td>
                    <th>
            <label for="txtCarrierName">
                提货单号
            </label>
                    </th>
                    <td>
            <input id="S_DeliveryNO" name="S_DeliveryNO" type="text" class="textbox" />
                    </td>
                    <th>
            <label for="txtCarrierName">
                物流单号
            </label>
                    </th>
                    <td>
            <input id="S_CarrierWaybillNO" name="S_CarrierWaybillNO" type="text" class="textbox" />
                    </td>
                    <td>
                        <input id="btnSearch" type="submit" name="BtnSearch" value="查询" class="button" />
                        <input id="btnClearSearch" type="button" value="清除查询" class="button" onclick="window.location.reload()" />
                    </td>
                </tr>
            </table>
        }
    </div>
}
@section list
{
    <div id="SearchResultList" class="DataGirdPanel">
        @{Html.RenderPartial("_PartialLostApproveList", Model); }
    </div>
}
