<connectionStrings>
  <clear/>
  <!--测试库 begin-->
  <add name="TmsReadOnlyConnectionString" connectionString="qbS19MEWSlF+AzrV3dLiID66KNnMG4BBAQvepd36AdCnDal7bR1K93m6wM0cj8IYfv4tX1SHZJrlSK4y9gtohZLclemW86gq6hEjniC2gMBPcEeeV6BKTtYrn0pO5NZpM5B+Y7lhAEkHqNTRESdLRNYrn0pO5NZp/7CebkgGIp1Lf32QhMdsBR3MnleLr3qOhLyGWpGLglgglbNZx6nnA5LbPYNXuFS3K/SUme5ABOs=" providerName="Oracle.DataAccess.Client" />
  <add name="TmsConnectionString" connectionString="qbS19MEWSlF+AzrV3dLiID66KNnMG4BBAQvepd36AdCnDal7bR1K93m6wM0cj8IYfv4tX1SHZJrlSK4y9gtohZLclemW86gq6hEjniC2gMBPcEeeV6BKTtYrn0pO5NZpM5B+Y7lhAEkHqNTRESdLRNYrn0pO5NZp/7CebkgGIp1Lf32QhMdsBR3MnleLr3qOhLyGWpGLglgglbNZx6nnA5LbPYNXuFS3K/SUme5ABOs=" providerName="Oracle.DataAccess.Client" />
  <add name="LmsRfdReadOnlyConnectionString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
  <add name="LmsRfdConnectionString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
  <add name="LmsOracleReadOnlyConnectionString" connectionString="lALozD3XLefUIzPJC9qSKkCt1SPZT0+5JJ0a6rvcxYkUBmekHU65J9c1lRVQpEIgQ+mFcj/xDyQFVgy2VsZ9LbtcNhWkLAvD4jeNq7+xCZhLzoBmvRrJtzXnzlvn2wEhlhhXGSEBEfs=" />
  <add name="LmsOracleConnectionString" connectionString="lALozD3XLefUIzPJC9qSKkCt1SPZT0+5JJ0a6rvcxYkUBmekHU65J9c1lRVQpEIgQ+mFcj/xDyQFVgy2VsZ9LbtcNhWkLAvD4jeNq7+xCZhLzoBmvRrJtzXnzlvn2wEhlhhXGSEBEfs=" />

  <!--测试库 end-->
  <!--正式库begin-->
  <!--<add name="TmsReadOnlyConnectionString" connectionString="Nt5+CzPrqmdg5bppjP6/3WAu7skB7bDPXQZzPZZHTfvMVdW7tvKlHjV+32Q2hKMq+bjpiXr5cy0lPgXYFyYUscU0cZEimZNi6vycD2+XaO0=" providerName="Oracle.DataAccess.Client" />
    <add name="TmsConnectionString" connectionString="Nt5+CzPrqmcBFwismAS86jJc5d+r1dMbXQZzPZZHTfs7nE/AXo64t/ACd9OxKnSL+bjpiXr5cy0lPgXYFyYUscU0cZEimZNiPJy8YEby2t0=" providerName="Oracle.DataAccess.Client" />
    <add name="LmsRfdReadOnlyConnectionString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSExsd3tCQPj/JKBwgRJfleLU=" />
    <add name="LmsRfdConnectionString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA==" />
  <add name="LmsOracleConnectionString" connectionString="Nt5+CzPrqmfA0EYKQBikf/PPlwHLveFZ/xIK98z/xAoOzOqOKCN4iYPfcwb+QLqKLHE7Voh14eNAyUW7TnfY+47nvXQ4RRd36CylFShuByQ=" />
  <add name="LmsOracleReadOnlyConnectionString" connectionString="Nt5+CzPrqmfA0EYKQBikf97t9nc0V++S/xIK98z/xAryFtOth19E8wOlBl3BmfgRSkvoZuiTJFlAyUW7TnfY+47nvXQ4RRd37BCpR0mmrbs=" />-->

  <!--正式库end-->
  <!--压力测试库 begin-->
    <!--<add name="TmsReadOnlyConnectionString" connectionString="Nt5+CzPrqmfshhiyKfXYwwwPmD1OIyPwv5+tb/PF9lgFkF7+rvBxVu1EtgsyhS0j76TkTBVcLZ4=" providerName="Oracle.DataAccess.Client" />
    <add name="TmsConnectionString" connectionString="Nt5+CzPrqmfshhiyKfXYwwwPmD1OIyPwv5+tb/PF9lgFkF7+rvBxVu1EtgsyhS0j76TkTBVcLZ4=" providerName="Oracle.DataAccess.Client" />
    <add name="LmsRfdReadOnlyConnectionString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
    <add name="LmsRfdConnectionString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />-->
  <!--压力测试库 end-->
</connectionStrings>