<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <connectionStrings configSource="Connections.config">
  </connectionStrings>
  <!--日志文件配置-->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="EmailSendAppender" type="log4net.Appender.SmtpAppender">
      <authentication value="Ntlm"/>
      <to value="Jishu_PS.list@vancl.cn"/>
      <from value="tms.wuliusys.com@vancl.cn"/>
      <username value="crm@vancloa.cn"/>
      <password value=".654sy56kj67dgb577ks"/>
      <!--TODO: 正式环境必须修改项-->
      <subject value="TMS 运输计划生效服务未捕获到的异常(本机测试)"/>
      <smtpHost value="smtpsrv02.vancloa.cn"/>
      <port value="25"/>
      <bufferSize value="1"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
    </root>
    <logger name="File" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="FileAppender"/>
    </logger>
    <logger name="EmailSend" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="EmailSendAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <!--服务配置文件路径-->
    <add key="ServerPath" value="server"/>
    <!--服务配置文件路径-->
    <add key="ServiceConfigPath" value="serviceConfig\ServiceConfig.xml"/>
    <!--公式配置文件路径-->
    <add key="FormulaConfigPath" value="formulaConfig\FormulaConfig.xml"/>
    <!--数据库连接池最大线程数-->
    <add key="ConnectionPoolMaxCount" value="-1"/>
    <!--清空池的执行间隔时间(毫秒)-->
    <add key="PoolClearInterval" value="2000"/>
    <!--清空池的过期时间(毫秒),最后一次使用到现在超过该时长则清掉-->
    <add key="PoolClearTimeSpan" value="20000"/>
    <!--Common Start-->
    <add key="SmtpServer" value="smtpsrv02.vancloa.cn"/>
    <add key="MailFrom" value="tms.wuliusys.com@vancl.cn"/>
    <add key="SmtpUID" value="crm@vancloa.cn"/>
    <add key="SmtpPWD" value=".654sy56kj67dgb577ks"/>
    <add key="SmtpUseDefaultCredentials" value="true"/>
    <add key="SmtpMailPort" value="25"/>
    <add key="SmtpEnableSsl" value="false"/>
    <add key="FromDisplayName" value="TMS System Helper"/>
    <!--TODO: 正式环境必须修改项-->
    <add key="Subject" value="TMS 运输计划生效服务捕获到的异常(本机测试)"/>
    <add key="To" value="Jishu_PS.list@vancl.cn"/>
    <add key="CC" value=" renyu@vancl.cn"/>
    <!--TODO: 正式环境必须修改项-->
    <add key="JobConfigPath" value="D:\WindowsService\TmsService\TmsSyncJobCfgs\TransportPlanEffectiveJobConfig.xml"/>
    <add key="ThreadCount" value="1"/>
    <!--TODO: 正式环境必须修改项-->
    <add key="ServiceEnabledEmailSubject" value="TMS运输计划生效服务(本机测试)"/>
    <!--Common End-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
