<connectionStrings>
  <clear/>
  <!--测试库 begin-->
  <add name="TmsReadOnlyConnectionString" connectionString="qbS19MEWSlF+AzrV3dLiID66KNnMG4BBAQvepd36AdCnDal7bR1K93m6wM0cj8IYfv4tX1SHZJrlSK4y9gtohZLclemW86gq6hEjniC2gMBPcEeeV6BKTtYrn0pO5NZpM5B+Y7lhAEkHqNTRESdLRNYrn0pO5NZp/7CebkgGIp1Lf32QhMdsBR3MnleLr3qOhLyGWpGLglgglbNZx6nnA5LbPYNXuFS3K/SUme5ABOs=" providerName="Oracle.DataAccess.Client" />
  <add name="TmsConnectionString" connectionString="qbS19MEWSlF+AzrV3dLiID66KNnMG4BBAQvepd36AdCnDal7bR1K93m6wM0cj8IYfv4tX1SHZJrlSK4y9gtohZLclemW86gq6hEjniC2gMBPcEeeV6BKTtYrn0pO5NZpM5B+Y7lhAEkHqNTRESdLRNYrn0pO5NZp/7CebkgGIp1Lf32QhMdsBR3MnleLr3qOhLyGWpGLglgglbNZx6nnA5LbPYNXuFS3K/SUme5ABOs=" providerName="Oracle.DataAccess.Client" />
  <add name="LmsRfdReadOnlyConnectionString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
  <add name="LmsRfdConnectionString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
  <add name="LmsOracleConnectionString" connectionString="lALozD3XLefxDnwqVhmRDxpuW3pfTy7L28ENx4xrc+rJq8JS4qETGYAiqtqHdY1y0mLsRsbEXwkKptzhCI7alxYTTKWXEdYCEI3t9IX8q/cWLqnyxp2bvwmZWv8LLzn3" />
  <add name="LmsOracleReadOnlyConnectionString" connectionString="lALozD3XLefxDnwqVhmRDxpuW3pfTy7L28ENx4xrc+rJq8JS4qETGYAiqtqHdY1y0mLsRsbEXwkKptzhCI7alxYTTKWXEdYCEI3t9IX8q/cWLqnyxp2bvwmZWv8LLzn3" />
  <!--测试库 end-->
</connectionStrings>