<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors >
        <behavior name="ConsoleApplicationHost1">
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ConsoleApplicationHost">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="basicBinding"></binding>-->
        <binding name="basicBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Vancl.TMS.Util.CacheService.Caching" behaviorConfiguration="ConsoleApplicationHost">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Vancl.TMS.Util.CacheService.ICaching" behaviorConfiguration="ConsoleApplicationHost1">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81/Caching"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
