<connectionStrings>
  <clear/>
  <!--正式库-->
  <!--<add name="ExecuteConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA==" />
  <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSExsd3tCQPj/JKBwgRJfleLU=" />
  <add name="SCMExecuteConnString" connectionString="OaUiMMBYnrbLZoFW5p16cqTfXIJ769t1pxMY9LAvsgq34NBWEgb7YF03TzKMGr5Q5zGYAo7s2WH9PtIE45u6ZsMLxV0F4LlT7ypcmqMpXeuGVwQ1H1vxwFHwcDQgJCvNt7N1quv+6snJvfE0yWpsqjat99vb7y7c" />
  <add name="SCMRedOnlyConnString" connectionString="OaUiMMBYnrZVOy72YqOYqtQ3pcNfSpZxcBk8I8jNtu9kC6m4/66LqypvBegF8hZAPyi/+y1PhT1DPJ1qpYNrvcT8FoBrTdCAY6N2KtlG2pLvld3U/jFGucIfZjii5E5XvlYDWj+MK1z2LcY4cGzuAbbGRNrPmz7wbu0NxcmUmzcKbIbJSd/t3j6glDzO78XNySYWHF0nyJ9L4Gy4/cHHWNKYi8nEfC2SljwlMipZKas="/>
  <add name="VanclLMSQueryString" connectionString="OaUiMMBYnrYmqtl4h0DHjC+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71eFjxTcVnDCLsSe4+DZvXCGUyU9HzJXxRUiqdWDckaBAM53FPmpR7/GK4iz0X8ftKxCKcSrWqcKQGjWNNtNQSE9CJmPAcYiiN+bsntiFf3m48HABy6LSc6BPGcHbasQW6Ou7wjnNY2plwGTwjyM2274mHuVV2lb6m"/>
  <add name="ExecuteConnStringTmp" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhPrTD+OWMsSQR6OOHAMu+9X" providerName="System.data.SqlClient" />
  <add name="DbConfigConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA=="/>-->

  <!--test-->
  <add name="ExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS"/>
  <add name="RedOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
  <add name="SCMExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3L/C/FldzRLOz0+3p42tYn" />
  <add name="SCMRedOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3L/C/FldzRLOz0+3p42tYn"/>
  <add name="ExecuteConnStringTmp" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/ySgcIESX5Xi1" providerName="System.data.SqlClient" />

  <!--测试库（迁移后）-->
  <!--<add name="ExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS"/>
  <add name="RedOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS" />
  <add name="SCMExecuteConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3L/C/FldzRLOz0+3p42tYn" />
  <add name="SCMRedOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3L/C/FldzRLOz0+3p42tYn"/>
  <add name="ExecuteConnStringTmp" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/ySgcIESX5Xi1" providerName="System.data.SqlClient" />
  <add name="DbConfigConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP1HrFrU1eYeyEjxHMf0XXUS"/>-->

  <!--测试库V2.0-->
  <!--<add name="ExecuteConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/yef6i6nMFDaF"/>
    <add name="RedOnlyConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/yef6i6nMFDaF" />
    <add name="SCMExecuteConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQzMXbmGkF25CfJ9OJR8sOm5ZcP8X5R2o+dDx21ozqXqYDzldws+bV3Q==" />
    <add name="SCMRedOnlyConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQzMXbmGkF25CfJ9OJR8sOm5ZcP8X5R2o+dDx21ozqXqYDzldws+bV3Q=="/>
    <add name="ExecuteConnStringTmp" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/ySgcIESX5Xi1" providerName="System.data.SqlClient" />-->

  <!--测试库V1.0-->
  <!--<add name="ExecuteConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/ySgcIESX5Xi1"/>
    <add name="RedOnlyConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/ySgcIESX5Xi1" />
    <add name="SCMExecuteConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQzMXbmGkF25CfJ9OJR8sOm5ZcP8X5R2o+dDx21ozqXqYDzldws+bV3Q==" />
    <add name="SCMRedOnlyConnString" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQzMXbmGkF25CfJ9OJR8sOm5ZcP8X5R2o+dDx21ozqXqYDzldws+bV3Q=="/>
    <add name="ExecuteConnStringTmp" connectionString="Z/VRBnnPygbINyrSotbrhBHNDsS2vCmQZnUSwHj0vZNQaWVmTXgYw8m84gNcqcoQ7cOE1RSz/wgez/Z8K9USt6gTTMSnuCv/Bo1jTbTUEhMbHd7QkD4/ySgcIESX5Xi1" providerName="System.data.SqlClient" />-->

  <!--备份连接串，切换前的连接串-->
  <!--<add name="ExecuteConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA==" />
    <add name="RedOnlyConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA==" />-->
  
  <!--压力测试库-->
  <!--<add name="ExecuteConnString" connectionString="rwVDfcNkdqyHzaXf/y605oybufsnYL2PbS/5Uqw1gDZkC6m4/66LqypvBegF8hZAbmtV5EQgO6w6w08GBbpns2zdOZJr1KHjgNqqDQZ2rxerUlNSqD4YTMm98TTJamyqjl1UGhOTaOCJh7lVdpW+pg=="/>
  <add name="RedOnlyConnString" connectionString="rwVDfcNkdqyHzaXf/y605oybufsnYL2PbS/5Uqw1gDZkC6m4/66LqypvBegF8hZAbmtV5EQgO6w6w08GBbpns2zdOZJr1KHjgNqqDQZ2rxerUlNSqD4YTMm98TTJamyqjl1UGhOTaOCJh7lVdpW+pg==" />
  <add name="SCMExecuteConnString" connectionString="rwVDfcNkdqyHzaXf/y605oybufsnYL2PbS/5Uqw1gDZkC6m4/66LqypvBegF8hZAbmtV5EQgO6w6w08GBbpns2zdOZJr1KHjgNqqDQZ2rxerUlNSqD4YTMm98TTJamyqjl1UGhOTaOCJh7lVdpW+pg==" />
  <add name="SCMRedOnlyConnString" connectionString="rwVDfcNkdqyHzaXf/y605oybufsnYL2PbS/5Uqw1gDZkC6m4/66LqypvBegF8hZAbmtV5EQgO6w6w08GBbpns2zdOZJr1KHjgNqqDQZ2rxerUlNSqD4YTMm98TTJamyqjl1UGhOTaOCJh7lVdpW+pg=="/>
  <add name="ExecuteConnStringTmp" connectionString="rwVDfcNkdqyHzaXf/y605oybufsnYL2PbS/5Uqw1gDZkC6m4/66LqypvBegF8hZAbmtV5EQgO6w6w08GBbpns2zdOZJr1KHjgNqqDQZ2rxerUlNSqD4YTMm98TTJamyqjl1UGhOTaOCJh7lVdpW+pg==" providerName="System.data.SqlClient" />-->

</connectionStrings>