<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="vancl.lms.framework.caching">
      <section name="memcached" type="Vancl.LMS.Framework.Caching.Configuration.MemcachedClientSection,Vancl.LMS.Framework.Caching"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <!--<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />-->
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RFD.LMS.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://RFD.LMS.ServiceImpl/RFD.LMS.ServiceImpl/AppContext.xml"/>
      <resource uri="assembly://RFD.LMS.Domain/RFD.LMS.Domain/AppContext.xml"/>
      <resource uri="assembly://LMS.AdoNet/LMS.AdoNet/AdoNetConfig.xml"/>
      <!--<resource uri="assembly://LMS.AdoNet/LMS.AdoNet/AppContext.xml" />-->
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="mail" type=" RFD.LMS.ServiceImpl.Mail,  RFD.LMS.ServiceImpl"/>
    </objects>
    <!--<parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>-->
  </spring>
  <log4net>
    <!--写入到数据库-->
    <appender name="ADONetAppender_SqlServer" type=" LMS.AdoNet.LogUtil.Log4NetConnectionStringNameAdoNetAppender, LMS.AdoNet, Version=1.0.0.0, Culture=neutral">
      <bufferSize value="0"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionStringName value="Default"/>
      <commandText value="INSERT INTO MyLog ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <!-- 
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
                </layout> 
                -->
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="../Site_Log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="2000"/>
      <param name="MaximumFileSize" value="100KB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="ADONetAppender_SqlServer"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <!-- Specify the level for some specific categories -->
  </log4net>
  <appSettings>
    <add key="EnableHttps" value="启动"/>
    <add key="SaveFormData" value="True"/>
    <add key="EnableSMS" value="True"/>
    <add key="BakFilePath" value="D:/FormDataBak/"/>
    <add key="sendMailToDevelop" value=""/>
    <add key="defaultMailToRfd" value=""/>
    <add key="IsDealCompany" value="10000"/>
    <add key="VanclHiddenDateTime" value="2011-06-23 00:00:00"/>
    <add key="VjiaHiddenDateTime" value="2011-08-25 00:00:00"/>
    <add key="ExcludeWaybillNoList" value="221082358781,221082107825"/>
    <add key="VanclAbnormalPostUrl" value="http://lmsedi.vancl.com/Test/lcaccept.aspx"/>
    <add key="FileServerDefaultFtpAddress" value="ftp://10.251.72.182/lms/"/>
    <add key="FileServerFtpUserName" value="rfd"/>
    <add key="FileServerFtpUserPwd" value="rufengda@FK*()"/>
    <add key="DefaultPermissionAdmin" value="Admin"/>
    <add key="SenvenZipPath" value="~/Lib/7z64.dll"/>
    <add key="WaybillBatchOperateMaxAcceptCount" value="5000"/>
    <add key="WaybillBatchOperatePerTimes" value="100"/>
    <add key="EnableNewSmsInterface" value="1"/>
    <add key="EnableSmsLog" value="1"/>
    <add key="Vancl_DELIVERY" value="您好，您的凡客诚品订单将由如风达配送员{0}今日为您送达，查询电话{1}提示：{2}提供POS机支付，谢谢！[凡客诚品]"/>
    <add key="Vancl_RETURNS" value="您好，我是如风达快递{0}，今天将为您上门办理退换货。有问题请随时联系{1}提示：{2}提供POS机支付。[凡客诚品]"/>
    <add key="Vjia_DELIVERY" value="您好，您的V+订单将由如风达配送员{0}今日为您送达，查询电话{1}提示：{2}提供POS机支付，谢谢！[凡客诚品]"/>
    <add key="Vjia_RETURNS" value="您好，我是如风达快递{0}，今天将为您上门办理退换货。有问题请随时联系{1}提示：{2}提供POS机支付。[凡客诚品]"/>
    <add key="Vjia_ComeFrom" value="6:QQ"/>
    <add key="IsTurnStationServices" value="True"/>
    <add key="ErrorToEmailList" value="Jishu_PS.list@vancl.cn"/>
    <add key="FatalErrorToEmailList" value="zhangbaoliang@vancl.cn"/>
    <add key="EnableFatalError" value="false"/>
    <add key="ssoLogin" value="N"/>
    <add key="ssoAuthsiteId" value="lms.rufengda.com"/>
    <add key="OrderForThirdPartyId" value="368157"/>
    <add key="RedirectPageUrl" value="Error.aspx"/>
    <add key="SqlInjectionRegex" value="(.*([']+).*)|((;.*update(\s|\*/|/\*).*\w+.*(\s|\*/|/\*)set(\s|\*/|/\*).+=.+)|(;.*delete(\s|\*/|/\*).*from(\s|\*/|/\*).+\w+)|(.*select(\s|\*/|/\*).*\w+.*(\s|\*/|/\*)from(\s|\*/|/\*).*)|(;.*(drop|alter|truncate|create)(\s|\*/|/\*).*table(\s|\*/|/\*).*\w+)|(;.*declare.*cursor.*)).*"/>
    <add key="CmbChinaImportTxtpattern" value="^([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*),([^,]*)$"/>
    <add key="CmbChinaImportPdfpattern" value="^([0-9]*) ([^ ]*) .* ([0-9]{4}) ([0-9]{4}) ([0-9]{4}) ([0-9]{4}) ([0-9]*)[ ]*$"/>
    <add key="MarkAddressGisUrl" value="http://gis.vancl.com/marker/point.html"/>
    <add key="AddressSplitIndex" value="GIS;ADDRESS;POSTCODE"/>
    <add key="EnablePageControlLimit" value="1"/>
    <add key="DeliverModeMerchants" value="-1;-2;"/>
    <add key="MACAddr" value="BC:30:5B:9F:39:4E"/>
    <add key="AddressSplitIndexCommon" value="GIS;ADDRESS;POSTCODE"/>
    <add key="FinancialCutDate" value="2012-05-21 00:00:00"/>
    <add key="connfromdb" value="Y"/>
    <add key="PerFormCodeStatus" value="Jishu_PS.list@vancl.cn"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
    <add key="PromiseListCreditCardApplication" value="466,391,449"/>
    <!--受理单验证-->
    <add key="PerFormCodeValid" value="Y"/>
    <add key="ChangePwdUrl" value="http://pms.wuliusys.com/changePwd.aspx"/>
    <!--vjia接口的用户名和密码-->
    <add key="VjiaServiceClientCredentialUserName" value="Vjia"/>
    <add key="VjiaServiceClientCredentialPassword" value="abc@123"/>
    <!--订单导入数据流向:0-waybill,1-orderforthirdparty,2-waybill&orderforthirdparty-->
    <add key="OrderDataFlowDirection" value="0"/>
    <!--订单导入拆库商家配置(数据导入到OrderForThirdParty)-->
    <add key="OrderDataMerchants" value="34"/>
    <add key="UseNewDeduct" value="false"/>
    <!--分配信息写入BI-->
    <add key="AssignLogToBI" value="1"/>
    <!--订单导入步骤配置(0:所有步骤 1.上传文件步骤 2.读取上传文件步骤 3.读取模板步骤 4.检查上传订单表头步骤 5.检查上传订单内容步骤 6.写文件步骤 7.更新订单到数据库步骤 8.更新上传结果到数据库步骤)-->
    <!--执行所有步骤请配置为0或者不配置；请按顺序配置步骤，步骤以逗号隔开如：1,2,4,5,7-->
    <add key="OrderImportStep" value="0"/>
    <add key="ExpressPrintStep" value="1,2,3,4,5,6"/>
    <add key="connfromdb" value="N"/>

  </appSettings>
  <connectionStrings configSource="connections.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity" maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicNoneSecurity" maxBufferPoolSize="12000000" maxReceivedMessageSize="12000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="12000000" maxArrayLength="12000000"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SortCenterOpenServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="RFD.LMS.SortCenter.OpenService.SortCenterOpenService" behaviorConfiguration="SortCenterOpenServiceBehavior">
        <endpoint address="" bindingConfiguration="BasicNoneSecurity"
          name="SortCenterOpenService" binding="basicHttpBinding" contract="RFD.LMS.SortCenter.OpenService.ISortCenterOpenService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>

</configuration>
