<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceConfigPath" value="D:\vancl\work\svn\LMS\Vancl.TMS\serviceConfig\ServiceConfig.xml"/>
    <add key="FormulaConfigPath" value="D:\vancl\work\svn\LMS\Vancl.TMS\formulaConfig\FormulaConfig.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
