<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--log日志-->
    <add key="FactoryLog" value="default_Log" />
    <!--logemail日志-->
    <add key="FactoryEMail" value="default_EMail" />
    <!--数据库连接池最大线程数-->
    <add key="ConnectionPoolMaxCount" value="20" />
    <!--要写入操作日志的Model名-->
    <add key="WriteIntoOperateLogModels" value="CarrierModel" />
    <!--要写入DeliveryLog日志的Model名-->
    <add key="WriteIntoDeliveryFlowLogModels" value="DispatchModel" />
    <!--服务配置文件路径-->
    <add key="ServerPath" value="server" />
    <!--服务配置文件路径-->
    <add key="ServiceConfigPath" value="serviceConfig\ServiceConfig.xml" />
    <!--公式配置文件路径-->
    <add key="FormulaConfigPath" value="formulaConfig\FormulaConfig.xml" />
    <!--清空池的执行间隔时间(毫秒)-->
    <add key="PoolClearInterval" value="2000" />
    <!--清空池的过期时间(毫秒),最后一次使用到现在超过该时长则清掉-->
    <add key="PoolClearTimeSpan" value="5000" />
    <!--socket等待队列中的最大允许数量-->
    <add key="SocketWaitingQueueMaxCount" value="5" />
    <!--socket排队等待超时时间-->
    <add key="SocketWaitingTimeOut" value="500" />
    <!--socket池最大socket数-->
    <add key="SocketPoolMaxCount" value="5" />
    <!--操作日志更新时的Note模板-->
    <add key="UpdateOperateLogNote" value="列名[{0}]:由[{1}]更新为[{2}]" />
    <!--写操作日志时不用比较的列名-->
    <add key="OperateLogNotCompareColumns" value="UpdateBy,UpdateTime,CreateBy,CreateTime,IsDeleted" />
  </appSettings>
  <connectionStrings configSource="Connections.config">
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITMSAPIService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.16.4.70:8001/TMSAPIService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITMSAPIService"
        contract="TMSAPIService.ITMSAPIService" name="BasicHttpBinding_ITMSAPIService" />
    </client>
  </system.serviceModel>
</configuration>
