<div id="wav" style="display: none">
    <object id="SucceessWav" classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6" width="0" height="0">
        <param name="URL" value="@Url.Content("~/Content/media/done.wav")"/>
        <param name="AutoStart" value="false" />
    </object>
    <object id="ErrorWav" classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6" width="0"
        height="0">
        <param name="URL" value="@Url.Content("~/Content/media/error.wav")"/>
        <param name="AutoStart" value="false" />
    </object>
    <object id="sound" classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6" width="0"
        height="0">
        <param name="URL" value=""/>
        <param name="AutoStart" value="false" />
    </object>
</div>