<connectionStrings>
  <clear/>
  <!--测试库 begin-->
  <add name="TmsReadOnlyConnectionString" connectionString="qbS19MEWSlEXerjHTW4QWkCt1SPZT0+5VjclK5ffzADeAMpmGuZjVgwPmD1OIyPwkpgS62zhjDJojeMvYfcvXg==" providerName="Oracle.DataAccess.Client" />
  <add name="TmsConnectionString" connectionString="qbS19MEWSlEXerjHTW4QWkCt1SPZT0+5VjclK5ffzADeAMpmGuZjVgwPmD1OIyPwkpgS62zhjDJojeMvYfcvXg==" providerName="Oracle.DataAccess.Client" />

  <!--测试库 end-->
  <!--正式库 begin-->
  <!--<add name="TmsReadOnlyConnectionString" connectionString="Nt5+CzPrqmdg5bppjP6/3WAu7skB7bDPXQZzPZZHTfvMVdW7tvKlHjV+32Q2hKMq+bjpiXr5cy0lPgXYFyYUscU0cZEimZNiqFKraFloIhnh2a7blMFtvqPNp8gRXoIW6hEjniC2gMBPcEeeV6BKTtYrn0pO5NZpv29xPme06zE=" providerName="Oracle.DataAccess.Client" />
    <add name="TmsConnectionString" connectionString="Nt5+CzPrqmcBFwismAS86jJc5d+r1dMbXQZzPZZHTfs7nE/AXo64t/ACd9OxKnSL+bjpiXr5cy0lPgXYFyYUscU0cZEimZNilJ4lcbaSRhjh2a7blMFtvqPNp8gRXoIW6hEjniC2gMBPcEeeV6BKTtYrn0pO5NZpv29xPme06zE=" providerName="Oracle.DataAccess.Client" />
    <add name="LmsRfdReadOnlyConnectionString" connectionString="OaUiMMBYnrZjZX5i9uRbgUrsWh6E23eBz1ItfhFf/8QASMSjZQeAWXXBnIzjicCFG8WLHl+U0E6QM1T/8c7cZpT3PHa28V13puW/FC0HZ0Xl8vKuJQQbK7LGIUbiiIM8YDgZ7JiLGpoGjWNNtNQSExsd3tCQPj/JKBwgRJfleLU=" />
    <add name="LmsRfdConnectionString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqjbAl+ypM3zeum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Ztv14h4En3TzA==" />-->
  <!--正式库 end-->
</connectionStrings>