<?xml version="1.0"?>
<configuration>
  <connectionStrings configSource="Connections.config">
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--log日志-->
    <add key="FactoryLog" value="default_Log"/>
    <!--logemail日志-->
    <add key="FactoryEMail" value="default_EMail"/>
    <!--数据库连接池最大线程数-->
    <add key="ConnectionPoolMaxCount" value="-1"/>
    <!--要写入操作日志的Model名-->
    <add key="WriteIntoOperateLogModels" value="CarrierModel,LinePlanModel,LineFixedPriceModel,TransportPlanModel,LineFormulaPriceModel,AssFixedPriceModel,AssFormulaPriceModel,DeliveryAssessmentModel,DelayHandleModel,CarrierWaybillModel"/>
    <!--要写入DeliveryLog日志的Model名-->
    <add key="WriteIntoDeliveryFlowLogModels" value="DispatchModel,ExpectDelayModel,LostModel"/>
    <!--服务配置文件路径-->
    <add key="ServerPath" value="server"/>
    <!--服务配置文件路径-->
    <add key="ServiceConfigPath" value="serviceConfig\ServiceConfig.xml"/>
    <!--公式配置文件路径-->
    <add key="FormulaConfigPath" value="formulaConfig\FormulaConfig.xml"/>
    <!--清空池的执行间隔时间(毫秒)-->
    <add key="PoolClearInterval" value="2000"/>
    <!--清空池的过期时间(毫秒),最后一次使用到现在超过该时长则清掉-->
    <add key="PoolClearTimeSpan" value="20000000"/>
    <!--socket等待队列中的最大允许数量-->
    <add key="SocketWaitingQueueMaxCount" value="5"/>
    <!--socket排队等待超时时间-->
    <add key="SocketWaitingTimeOut" value="500"/>
    <!--socket池最大socket数-->
    <add key="SocketPoolMaxCount" value="5"/>
    <!--操作日志更新时的Note模板-->
    <add key="UpdateOperateLogNote" value="列名[{0}]:由[{1}]更新为[{2}]"/>
    <!--写操作日志时不用比较的列名-->
    <add key="OperateLogNotCompareColumns" value="UpdateBy,UpdateTime,CreateBy,CreateTime,IsDeleted,PrimaryKey,ModelTableName"/>
    <!--PMS系统承运商角色ID-->
    <add key="CarrierRoleID" value="229"/>
    <!--承运商默认密码-->
    <add key="CarrierDefaultPwd" value="Vancl@123"/>
    <!--承运商默认密码-->
    <add key="TmsSysKey" value="4"/>
    <!--Cookie过期默认时长(天)-->
    <add key="CookieExpires" value="2"/>
    <!--文件服务器FTP路径-->
    <add key="FileServerDefaultFtpAddress" value="ftp://10.251.72.148/TMSFiles/"/>
    <!--文件服务器FTP用户名-->
    <add key="FileServerFtpUserName" value="rfd"/>
    <!--文件服务器FTP用户密码-->
    <add key="FileServerFtpUserPwd" value="rfd@FK*()"/>
    <!--文件服务器FTP用户密码-->
    <add key="FileServerVerificationCodesPath" value="VerificationCodes"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
