<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Vancl.WuliuSys.ClientLib.AutoUpdate.AutoUpdateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Vancl.WuliuSys.ClientLib.AutoUpdate.AutoUpdateSettings>
      <setting name="Url" serializeAs="String">
        <value>http://localhost/update.txt</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="DownLoadDir" serializeAs="String">
        <value>DownLoad</value>
      </setting>
      <setting name="BackupDir" serializeAs="String">
        <value>Backup</value>
      </setting>
      <setting name="CurrentVersion" serializeAs="String">
        <value>201210091549</value>
      </setting>
    </Vancl.WuliuSys.ClientLib.AutoUpdate.AutoUpdateSettings>
  </userSettings>

  <appSettings>
    <add key="PrintTimeOut" value="15000"/>
  </appSettings>


</configuration>