@{
    ViewBag.Title = "很遗憾，你要访问的页面没找到!";
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}
<h1 class="head">
    @ViewBag.Title
</h1>
<div class="body">
    <div class="icon_404">
    </div>
    <div class="info">
        <div style="padding-top:50px;">
            "从前有个系统，系统有个页面，这个页面不见咯~~"
        </div>
    </div>
</div>
