<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Vancl.TMS.Util.Caching.FtpCacheStategySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Vancl.TMS.Util.Caching.FtpCacheStategySettings>
      <setting name="Host" serializeAs="String">
        <value>10.251.50.93</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>rfd</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>rfd@FK*()</value>
      </setting>
      <setting name="Folder" serializeAs="String">
        <value>FtpStategy</value>
      </setting>
    </Vancl.TMS.Util.Caching.FtpCacheStategySettings>    
  </applicationSettings>
</configuration>