<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPermissionOpenService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CommonMsgSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBillService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBillService1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDistributionOperateLog" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITmsDataService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
            textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
            messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICustomizeFlow" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWaybillTurnService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IOrdersForWdsAssign">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://xmlapp.vancl.com/commonmsg.asmx" binding="basicHttpBinding"
          bindingConfiguration="CommonMsgSoap" contract="SMSService.CommonMsgSoap"
          name="CommonMsgSoap" />
      <endpoint address="http://10.16.4.145:82/CloudBillService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillService"
          contract="CloudBillService.IBillService" name="BasicHttpBinding_IBillService" />
      <endpoint address="http://exchange.wuliusys.com/DistributionMonitorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributionOperateLog"
          contract="AgingMonitoringService.IDistributionOperateLog"
          name="BasicHttpBinding_IDistributionOperateLog" />
      <endpoint address="http://10.16.112.115:6005/PMSOpenService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPermissionOpenService"
          contract="PmsService.IPermissionOpenService" name="BasicHttpBinding_IPermissionOpenService" />
      <endpoint address="http://pmsapi.wuliusys.com/TMSDataService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITmsDataService"
          contract="TransPointService.ITmsDataService" name="BasicHttpBinding_ITmsDataService" />
      <endpoint address="http://exchange.wuliusys.com/CloudBillService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillService1"
          contract="CloudBillService.IBillService" name="BasicHttpBinding_IBillService1" />
      <endpoint address="http://10.16.112.115:6005/CustomizeFlow.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomizeFlow"
          contract="CustomizeFlow.ICustomizeFlow" name="BasicHttpBinding_ICustomizeFlow" />
      <endpoint address="http://10.253.6.46:8612/WaybillTurnService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWaybillTurnService"
          contract="DPSWaybillTurnService.IWaybillTurnService" name="WSHttpBinding_IWaybillTurnService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://10.253.6.46:8612/OrdersForWdsAssign.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrdersForWdsAssign"
          contract="OrdersForWdsAssignService.IOrdersForWdsAssign" name="WSHttpBinding_IOrdersForWdsAssign">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>