<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vancl.WuliuSys.ClientLib.WeighComp.WeighSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Vancl.WuliuSys.ClientLib.AutoUpdate.AutoUpdateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vancl.WuliuSys.ClientLib.WeighComp.WeighSettings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
        </Vancl.WuliuSys.ClientLib.WeighComp.WeighSettings>
        <Vancl.WuliuSys.ClientLib.AutoUpdate.AutoUpdateSettings>
            <setting name="Url" serializeAs="String">
                <value>http://tms.wuliusys.com/update/update.xml</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="DownLoadDir" serializeAs="String">
                <value>DownLoad</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>20120927</value>
            </setting>
        </Vancl.WuliuSys.ClientLib.AutoUpdate.AutoUpdateSettings>
    </userSettings>
  <appSettings>
    <add key="PrintTimeOut" value="15000"/>
  </appSettings>
</configuration>